@import './assets/styles/tailwind.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
}

.main-wrapper {
    flex-grow: 1;
}

img {
    display: block;
    width: 100%;
}

aside {
    color: black; 
    padding: 1rem;
    border-right: 1px solid #4A5568;
    width: 250px;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}
.container{
    max-width: 1225px;
}

@keyframes scroll {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0; }
}

.animate-scroll {
  animation: scroll 1.5s infinite;
}
@keyframes flame {
    0% { transform: translateY(0) scale(1); }
    50% { transform: translateY(-10px) scale(1.05); }
    100% { transform: translateY(0) scale(1); }
  }
  
  .animate-flame {
    animation: flame 3s ease-in-out infinite;
  }